.about-btn {
    padding: 19px 97px 19px 20px
}

.about-area1 .support-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .about-area1 .support-wrapper {
        display: block
    }
}

.about-area1 .support-wrapper .left-content1 {
    width: 49%;
    padding-left: 366px
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .about-area1 .support-wrapper .left-content1 {
        width: 45%;
        padding-left: 100px
    }
}

@media only screen and (min-width: 1601px) and (max-width: 1800px) {
    .about-area1 .support-wrapper .left-content1 {
        width: 42%;
        padding-left: 120px
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1440px) {
    .about-area1 .support-wrapper .left-content1 {
        padding-left: 30px;
        width: 48%
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1300px) {
    .about-area1 .support-wrapper .left-content1 {
        padding-left: 100px;
        width: 49%
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .about-area1 .support-wrapper .left-content1 {
        width: 67%;
        padding-left: 120px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .about-area1 .support-wrapper .left-content1 {
        width: 82%;
        padding-left: 30px;
        padding-left: 50px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .about-area1 .support-wrapper .left-content1 {
        width: 100%;
        padding-left: 30px
    }
}

@media (max-width: 575px) {
    .about-area1 .support-wrapper .left-content1 {
        width: 100%;
        padding-left: 30px
    }
}

.about-area1 .support-wrapper .left-content1 .about-icon {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    display: inline-block;
    position: relative;
    margin-bottom: 31px;
    line-height: 80px;
    text-align: center;
    box-shadow: 0px 15px 25px rgba(66, 85, 164, 0.08)
}

.about-area1 .support-wrapper .left-content1 .single-features {
    display: flex
}

.about-area1 .support-wrapper .left-content1 .single-features .features-icon {
    position: relative;
    top: 8px
}

.about-area1 .support-wrapper .left-content1 .single-features .features-icon img {
    display: block
}

.about-area1 .support-wrapper .left-content1 .single-features .features-caption {
    padding-left: 19px
}

.about-area1 .support-wrapper .left-content1 .single-features .features-caption h3 {
    font-size: 25px;
    line-height: 1.2;
    margin-bottom: 16px;
    font-weight: 400
}

.about-area1 .support-wrapper .left-content1 .single-features .features-caption p {
    font-size: 16px;
    line-height: 1.8;
    color: #4255A4
}

.about-area1 .support-wrapper .right-content1 {
    width: 40%;
    margin-right: 100px;
    position: relative
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .about-area1 .support-wrapper .right-content1 {
        width: 46%;
        margin-right: 50px
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .about-area1 .support-wrapper .right-content1 {
        width: 78%;
        margin-left: 119px;
        padding-top: 50px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .about-area1 .support-wrapper .right-content1 {
        width: 80%;
        padding-top: 50px;
        margin-right: 50px;
        padding-left: 50px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .about-area1 .support-wrapper .right-content1 {
        width: 100%;
        padding-top: 50px;
        margin-right: 30px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .about-area1 .support-wrapper .right-content1 {
        width: 100%;
        padding-top: 50px;
        padding-left: 30px;
        margin-right: 30px
    }
}

@media (max-width: 575px) {
    .about-area1 .support-wrapper .right-content1 {
        width: 100%;
        padding-top: 50px;
        padding-left: 20px;
        margin-right: 20px
    }
}

.about-area1 .support-wrapper .right-content1 .right-img img {
    width: 100%
}

.about-area2 .support-wrapper {
    display: flex;
    justify-content: start;
    flex-wrap: wrap
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .about-area2 .support-wrapper {
        display: block
    }
}

.about-area2 .support-wrapper .left-content2 {
    width: 28%;
    padding-left: 60px
}

@media only screen and (min-width: 1200px) and (max-width: 1440px) {
    .about-area2 .support-wrapper .left-content2 {
        width: 46%;
        padding-left: 60px
    }
}

@media (min-width: 1401px) and (max-width: 1600px) {
    .about-area2 .support-wrapper .left-content2 {
        width: 35%;
        padding-left: 60px
    }
}

@media only screen and (min-width: 1601px) and (max-width: 1800px) {
    .about-area2 .support-wrapper .left-content2 {
        width: 40%;
        padding-left: 60px
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .about-area2 .support-wrapper .left-content2 {
        width: 60%;
        padding-left: 60px;
        padding-right: 60px;
        padding-top: 50px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .about-area2 .support-wrapper .left-content2 {
        width: 82%;
        padding-left: 50px;
        padding-right: 60px;
        padding-top: 50px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .about-area2 .support-wrapper .left-content2 {
        width: 100%;
        padding-left: 30px;
        padding-right: 60px;
        padding-top: 50px
    }
}

@media (max-width: 575px) {
    .about-area2 .support-wrapper .left-content2 {
        width: 100%;
        padding-left: 30px;
        padding-right: 60px;
        padding-top: 50px
    }
}

.about-area2 .support-wrapper .right-content2 {
    width: 40%;
    margin-left: 100px;
    position: relative
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .about-area2 .support-wrapper .right-content2 {
        width: 46%;
        margin-left: 50px
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .about-area2 .support-wrapper .right-content2 {
        width: 78%;
        margin-left: 119px;
        padding-top: 50px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .about-area2 .support-wrapper .right-content2 {
        width: 80%;
        padding-top: 50px;
        margin-left: 50px;
        margin-right: 50px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .about-area2 .support-wrapper .right-content2 {
        width: 100%;
        padding-top: 50px;
        margin-left: 30px;
        margin-right: 30px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .about-area2 .support-wrapper .right-content2 {
        width: 100%;
        padding-top: 50px;
        margin-left: 30px;
        margin-right: 30px
    }
}

@media (max-width: 575px) {
    .about-area2 .support-wrapper .right-content2 {
        width: 100%;
        padding-top: 50px;
        margin-left: 20px;
        margin-right: 20px
    }
}

.about-area2 .support-wrapper .right-content2 .right-img img {
    width: 100%
}

.about-area2 .support-wrapper {
    display: flex;
    justify-content: start;
    flex-wrap: wrap
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .about-area2 .support-wrapper {
        display: block
    }
}

.about-area2 .support-wrapper .left-content2 {
    width: 28%;
    padding-left: 60px
}

@media only screen and (min-width: 1200px) and (max-width: 1440px) {
    .about-area2 .support-wrapper .left-content2 {
        width: 46%;
        padding-left: 60px
    }
}

@media (min-width: 1401px) and (max-width: 1600px) {
    .about-area2 .support-wrapper .left-content2 {
        width: 35%;
        padding-left: 60px
    }
}

@media only screen and (min-width: 1601px) and (max-width: 1800px) {
    .about-area2 .support-wrapper .left-content2 {
        width: 40%;
        padding-left: 60px
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .about-area2 .support-wrapper .left-content2 {
        width: 60%;
        padding-left: 60px;
        padding-right: 60px;
        padding-top: 50px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .about-area2 .support-wrapper .left-content2 {
        width: 82%;
        padding-left: 50px;
        padding-right: 60px;
        padding-top: 50px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .about-area2 .support-wrapper .left-content2 {
        width: 100%;
        padding-left: 30px;
        padding-right: 60px;
        padding-top: 50px
    }
}

@media (max-width: 575px) {
    .about-area2 .support-wrapper .left-content2 {
        width: 100%;
        padding-left: 30px;
        padding-right: 60px;
        padding-top: 50px
    }
}

.about-area2 .support-wrapper .right-content2 {
    width: 40%;
    margin-left: 100px;
    position: relative
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .about-area2 .support-wrapper .right-content2 {
        width: 46%;
        margin-left: 50px
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .about-area2 .support-wrapper .right-content2 {
        width: 78%;
        margin-left: 119px;
        padding-top: 50px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .about-area2 .support-wrapper .right-content2 {
        width: 80%;
        padding-top: 50px;
        margin-left: 50px;
        margin-right: 50px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .about-area2 .support-wrapper .right-content2 {
        width: 100%;
        padding-top: 50px;
        margin-left: 30px;
        margin-right: 30px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .about-area2 .support-wrapper .right-content2 {
        width: 100%;
        padding-top: 50px;
        margin-left: 30px;
        margin-right: 30px
    }
}

@media (max-width: 575px) {
    .about-area2 .support-wrapper .right-content2 {
        width: 100%;
        padding-top: 50px;
        margin-left: 20px;
        margin-right: 20px
    }
}

.about-area2 .support-wrapper .right-content2 .right-img img {
    width: 100%
}

.about-area3 .support-wrapper {
    display: flex !important;
    justify-content: start !important;
    flex-wrap: wrap !important;
    flex-direction: row;
}

.about-area3 .support-wrapper .left-content3 {
    width: 28%;
    padding-left: 60px
}

@media only screen and (min-width: 1200px) and (max-width: 1440px) {
    .about-area3 .support-wrapper .left-content3 {
        width: 46%;
        padding-left: 60px
    }
}

@media (min-width: 1401px) and (max-width: 1600px) {
    .about-area3 .support-wrapper .left-content3 {
        width: 35%;
        padding-left: 60px
    }
}

@media only screen and (min-width: 1601px) and (max-width: 1800px) {
    .about-area3 .support-wrapper .left-content3 {
        width: 40%;
        padding-left: 60px
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .about-area3 .support-wrapper .left-content3 {
        width: 57%;
        padding-left: 60px;
        padding-right: 60px;
        padding-top: 0
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .about-area3 .support-wrapper .left-content3 {
        width: 82%;
        padding-left: 50px;
        padding-right: 60px;
        padding-top: 50px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .about-area3 .support-wrapper .left-content3 {
        width: 100%;
        padding-left: 30px;
        padding-right: 60px;
        padding-top: 50px
    }
}

@media (max-width: 575px) {
    .about-area3 .support-wrapper .left-content3 {
        width: 100%;
        padding-left: 30px;
        padding-right: 60px;
        padding-top: 50px
    }
}

.about-area3 .support-wrapper .right-content3 {
    width: 40%;
    margin-left: 100px;
    position: relative
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .about-area3 .support-wrapper .right-content3 {
        width: 46%;
        margin-left: 50px
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .about-area3 .support-wrapper .right-content3 {
        width: 41%;
        margin-left: 19px;
        padding-top: 0px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .about-area3 .support-wrapper .right-content3 {
        width: 80%;
        padding-top: 50px;
        margin-left: 50px;
        margin-right: 50px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .about-area3 .support-wrapper .right-content3 {
        width: 100%;
        padding-top: 50px;
        margin-left: 30px;
        margin-right: 30px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .about-area3 .support-wrapper .right-content3 {
        width: 100%;
        padding-top: 50px;
        margin-left: 30px;
        margin-right: 30px
    }
}

@media (max-width: 575px) {
    .about-area3 .support-wrapper .right-content3 {
        width: 100%;
        padding-top: 50px;
        margin-left: 20px;
        margin-right: 20px
    }
}

.about-area3 .support-wrapper .right-content3 .right-img img {
    width: 100%
}

.about-area1 .support-wrapper .left-content1 .about-icon {
    background: #eae2fe;
    background: -moz-linear-gradient(top, #eae2fe 0%, #a376ff 1%, #ea68ff 98%, #ec7dfe 99%, #f3f3fa 99%, #f4f5fa 100%);
    background: -webkit-linear-gradient(top, #eae2fe 0%, #a376ff 1%, #ea68ff 98%, #ec7dfe 99%, #f3f3fa 99%, #f4f5fa 100%);
    background: linear-gradient(to bottom, #eae2fe 0%, #a376ff 1%, #ea68ff 98%, #ec7dfe 99%, #f3f3fa 99%, #f4f5fa 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eae2fe', endColorstr='#f4f5fa', GradientType=0)
}

.single-features {
    display: flex !important;
}

.single-features .features-icon img {
    display: block !important;
}

.single-features .features-caption {
    padding-left: 19px
}

.single-features .features-caption h3 {
    font-size: 25px;
    line-height: 1.2;
    margin-bottom: 16px;
    font-weight: 400
}

.single-features .features-caption p {
    font-size: 15px;
    line-height: 1.8
}

.video-icon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    margin: 0 auto;
    text-align: center
}

.video-icon a {
    background: #FF9F67;
    color: #ffff;
    width: 60px;
    height: 60px;
    display: inline-block;
    text-align: center;
    line-height: 60px;
    border-radius: 50%
}

.video-icon a::after {
    position: absolute;
    content: "";
    border-radius: 50%;
    left: -39px;
    top: -38px;
    right: 0;
    z-index: 0;
    background: #0000
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .video-icon a::after {
        border: 50px solid rgba(241, 65, 5, 0.1);
        left: -19px;
        top: -19px;
        right: 0
    }
}

@media (max-width: 575px) {
    .video-icon a::after {
        border: 50px solid rgba(241, 65, 5, 0.1);
        left: -19px;
        top: -19px;
        right: 0
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .video-icon a {
        width: 60px;
        height: 60px;
        line-height: 60px
    }
}

@media (max-width: 575px) {
    .video-icon a {
        width: 60px;
        height: 60px;
        line-height: 60px
    }
}

.video-icon a i {
    font-size: 20px;
    font-size: 20px;
    line-height: 1;
    position: relative;
    right: -2px;
    top: 2px
}

.video-icon a.btn-icon {
    position: relative
}

.video-icon a.btn-icon::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: -2px;
    left: -2px;
    bottom: -2px;
    right: -2px;
    border-radius: inherit;
    border: 1px solid #FFF;
    -webkit-animation: btnIconRipple 2s cubic-bezier(0.23, 1, 0.32, 1) both infinite;
    animation: btnIconRipple 2s cubic-bezier(0.23, 1, 0.32, 1) both infinite
}

@keyframes btnIconRipple {
    0% {
        border-width: 4px;
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    50% {
        border-width: 1px;
        -webkit-transform: scale(1.5);
        transform: scale(1.5)
    }

    80% {
        border-width: 1px;
        -webkit-transform: scale(1.9);
        transform: scale(1.9)
    }

    100% {
        opacity: 0
    }
}